In [1]:
len("Python")

6

In [2]:
str1 = "I love Python programming"

In [3]:
str1[7:13]

'Python'

In [6]:
str1[-18:-12]

'Python'

In [1]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [2]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
for i in list1:
    if i >= 10:
        break
    print(i)
else:
    print("Hello")

1
2
3
4
5
6
7
8
9

In [1]:
import numpy as np

In [8]:
b = np.linspace(1, 100)

In [9]:
b

array([   1.        ,    3.02040816,    5.04081633,    7.06122449,
          9.08163265,   11.10204082,   13.12244898,   15.14285714,
         17.16326531,   19.18367347,   21.20408163,   23.2244898 ,
         25.24489796,   27.26530612,   29.28571429,   31.30612245,
         33.32653061,   35.34693878,   37.36734694,   39.3877551 ,
         41.40816327,   43.42857143,   45.44897959,   47.46938776,
         49.48979592,   51.51020408,   53.53061224,   55.55102041,
         57.57142857,   59.59183673,   61.6122449 ,   63.63265306,
         65.65306122,   67.67346939,   69.69387755,   71.71428571,
         73.73469388,   75.75510204,   77.7755102 ,   79.79591837,
         81.81632653,   83.83673469,   85.85714286,   87.87755102,
         89.89795918,   91.91836735,   93.93877551,   95.95918367,
         97.97959184,  100.        ])

In [10]:
b.shape

(50,)

In [1]:
763638812+434763622+328875190

1527277624

In [2]:
22836959/26968373

0.8468052188391194

In [3]:
1210854977-164515253

1046339724

In [4]:
763638812/1046339724

0.7298191920695921

In [5]:
import pandas as pd

In [6]:
import numpy as np

In [11]:
loan = pd.read_csv("loan.csv", sep=",")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
head(loan)

NameError: name 'head' is not defined

In [10]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [13]:
loan.isnull().sum()

id                                    0
member_id                             0
loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
installment                           0
grade                                 0
sub_grade                             0
emp_title                          2458
emp_length                            0
home_ownership                        0
annual_inc                            0
verification_status                   0
issue_d                               0
loan_status                           0
pymnt_plan                            0
url                                   0
desc                              12939
purpose                               0
title                                10
zip_code                              0
addr_state                            0
dti                                   0
delinq_2yrs                           0
earliest_cr_line                      0
inq_last_6mths                        0
mths_since_last_delinq            25682
mths_since_last_record            36931
                                  ...
mo_sin_old_rev_tl_op              39717
mo_sin_rcnt_rev_tl_op             39717
mo_sin_rcnt_tl                    39717
mort_acc                          39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
num_bc_sats                       39717
num_bc_tl                         39717
num_il_tl                         39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
num_tl_op_past_12m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
pub_rec_bankruptcies                697
tax_liens                            39
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
total_bc_limit                    39717
total_il_high_credit_limit        39717
dtype: int64

In [17]:
24*60*60*30

2592000