In [15]:
import pandas as pd
import numpy as np

In [2]:
melbourne = pd.read_csv("melbourne.csv")

In [6]:
melbourne.info()
melbourne.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23547 entries, 0 to 23546
Data columns (total 21 columns):
Suburb           23547 non-null object
Address          23547 non-null object
Rooms            23547 non-null int64
Type             23547 non-null object
Price            18396 non-null float64
Method           23547 non-null object
SellerG          23547 non-null object
Date             23547 non-null object
Distance         23546 non-null float64
Postcode         23546 non-null float64
Bedroom2         19066 non-null float64
Bathroom         19063 non-null float64
Car              18921 non-null float64
Landsize         17410 non-null float64
BuildingArea     10018 non-null float64
YearBuilt        11540 non-null float64
CouncilArea      15656 non-null object
Lattitude        19243 non-null float64
Longtitude       19243 non-null float64
Regionname       23546 non-null object
Propertycount    23546 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 3.8+ MB

(23547, 21)

In [7]:
melbourne.isnull()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
9,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
16,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
20,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
22,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23517,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
23518,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23519,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23520,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23521,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23522,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23523,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23524,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23525,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23526,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
23527,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23528,False,False,False,False,True,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23529,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23530,False,False,False,False,True,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23531,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
23532,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23533,False,False,False,False,True,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23534,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
23535,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23536,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23537,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
23538,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23539,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
23540,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
23541,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23542,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23543,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
23544,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23545,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23546,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False

In [10]:
melbourne.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             5151
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          4481
Bathroom          4484
Car               4626
Landsize          6137
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           1
Propertycount        1
dtype: int64

In [11]:
melbourne.isnull().any(axis=0)

Suburb           False
Address          False
Rooms            False
Type             False
Price             True
Method           False
SellerG          False
Date             False
Distance          True
Postcode          True
Bedroom2          True
Bathroom          True
Car               True
Landsize          True
BuildingArea      True
YearBuilt         True
CouncilArea       True
Lattitude         True
Longtitude        True
Regionname        True
Propertycount     True
dtype: bool

In [12]:
melbourne.isnull().any(axis=1
                    )

0         True
1         True
2        False
3         True
4        False
5         True
6        False
7         True
8         True
9         True
10        True
11       False
12        True
13        True
14       False
15        True
16        True
17        True
18       False
19        True
20        True
21        True
22        True
23        True
24       False
25       False
26        True
27        True
28        True
29        True
         ...
23517     True
23518     True
23519     True
23520     True
23521     True
23522     True
23523     True
23524     True
23525     True
23526     True
23527     True
23528     True
23529     True
23530     True
23531     True
23532     True
23533     True
23534     True
23535     True
23536     True
23537     True
23538     True
23539     True
23540     True
23541     True
23542     True
23543     True
23544     True
23545     True
23546     True
dtype: bool

In [13]:
melbourne.isnull().any(axis=0)

Suburb           False
Address          False
Rooms            False
Type             False
Price            False
Method           False
SellerG          False
Date             False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Car              False
Landsize         False
BuildingArea     False
YearBuilt        False
CouncilArea      False
Lattitude        False
Longtitude       False
Regionname       False
Propertycount    False
dtype: bool

In [14]:
melbourne.isnull().any(axis=1)

0         True
1         True
2        False
3         True
4        False
5         True
6        False
7         True
8         True
9         True
10        True
11       False
12        True
13        True
14       False
15        True
16        True
17        True
18       False
19        True
20        True
21        True
22        True
23        True
24       False
25       False
26        True
27        True
28        True
29        True
         ...
23517     True
23518     True
23519     True
23520     True
23521     True
23522     True
23523     True
23524     True
23525     True
23526     True
23527     True
23528     True
23529     True
23530     True
23531     True
23532     True
23533     True
23534     True
23535     True
23536     True
23537     True
23538     True
23539     True
23540     True
23541     True
23542     True
23543     True
23544     True
23545     True
23546     True
dtype: bool

In [17]:
len(melbourne.Suburb.unique())

336

In [18]:
melbourne.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [21]:
by_rooms = melbourne.groupby("Rooms")

In [28]:
by_rooms.count()

,Suburb,Address,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
Rooms,,,,,,,,,,,,,,,,,,,,
1,1119,1119,1119,909,1119,1119,1119,1119,1119,930,930,926,848,471,602,836,945,945,1119,1119
2,6115,6115,6115,4992,6115,6115,6115,6114,6114,4923,4922,4869,4466,2499,3078,4279,4997,4997,6114,6114
3,10076,10076,10076,7953,10076,10076,10076,10076,10076,8171,8170,8102,7457,4145,4664,6594,8228,8228,10076,10076
4,4953,4953,4953,3648,4953,4953,4953,4953,4953,3974,3974,3961,3648,2267,2489,3100,4001,4001,4953,4953
5,1107,1107,1107,773,1107,1107,1107,1107,1107,924,923,921,862,557,622,734,922,922,1107,1107
6,133,133,133,92,133,133,133,133,133,112,112,112,100,65,67,87,113,113,133,133
7,19,19,19,13,19,19,19,19,19,17,17,16,15,9,10,14,17,17,19,19
8,14,14,14,10,14,14,14,14,14,11,11,11,11,5,6,10,12,12,14,14
9,4,4,4,1,4,4,4,4,4,2,2,1,1,0,0,0,3,3,4,4
10,5,5,5,4,5,5,5,5,5,2,2,2,2,0,2,2,4,4,5,5
12,2,2,2,1,2,2,2,2,2,0,0,0,0,0,0,0,1,1,2,2

In [32]:
by_rooms.Price.agg

In [34]:
len(melbourne)

23547

In [39]:
round(100*(melbourne.isnull().sum()/len(melbourne)), 2)

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.88
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2         19.03
Bathroom         19.04
Car              19.65
Landsize         26.06
BuildingArea     57.46
YearBuilt        50.99
CouncilArea      33.51
Lattitude        18.28
Longtitude       18.28
Regionname        0.00
Propertycount     0.00
dtype: float64

In [36]:
5151/23547

0.2187539813989043

In [38]:
help(round)

Help on built-in function round in module builtins:

round(...)
    round(number[, ndigits]) -> number

    Round a number to a given precision in decimal digits (default 0 digits).
    This returns an int when called with one argument, otherwise the
    same type as the number. ndigits may be negative.

In [45]:
melbourne = melbourne.drop("YearBuilt", axis=1);
melbourne = melbourne.drop("BuildingArea", axis=1);
melbourne = melbourne.drop("CouncilArea", axis=1);

In [48]:
round(100*(melbourne.isnull().sum()/len(melbourne.index)), 2)

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.88
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2         19.03
Bathroom         19.04
Car              19.65
Landsize         26.06
Lattitude        18.28
Longtitude       18.28
Regionname        0.00
Propertycount     0.00
dtype: float64

In [53]:
melbourne[melbourne.isnull().sum(axis =1) > 5]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
15,Abbotsford,217 Langridge St,3,h,1000000.0,S,Jellis,08-10-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2,t,745000.0,S,Jellis,08-10-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
19,Abbotsford,403/609 Victoria St,2,u,542000.0,S,Dingle,08-10-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
21,Abbotsford,25/84 Trenerry Cr,2,u,760000.0,SP,Biggin,10-12-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1,u,481000.0,SP,Purplebricks,10-12-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
27,Abbotsford,13/84 Trenerry Cr,1,u,500000.0,S,Biggin,12-11-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
33,Abbotsford,250 Langridge St,2,t,847000.0,S,Jellis,16-07-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
34,Abbotsford,16b Mollison St,2,h,NaN,PI,Biggin,16-07-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
45,Abbotsford,65/80 Trenerry Cr,1,u,480000.0,S,Biggin,19-11-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
46,Abbotsford,119/52 Nicholson St,1,u,423500.0,S,hockingstuart,22-05-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
52,Abbotsford,49/84 Trenerry Cr,2,h,700000.0,S,Biggin,23-04-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
60,Abbotsford,4/328 Johnston St,2,u,NaN,PI,Biggin,28-05-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
62,Abbotsford,82/84 Trenerry Cr,2,u,970000.0,SP,Biggin,28-05-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
65,Abbotsford,40/80 Trenerry Cr,3,h,927000.0,S,Biggin,30-07-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
74,Airport West,4/9 West Ct,2,t,420000.0,VB,Barry,04-06-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
75,Airport West,1/36 York St,3,t,500000.0,VB,Nelson,04-06-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
76,Airport West,33 Bowes Av,5,h,1035000.0,S,Airport,06-08-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
77,Airport West,89 Bowes Av,4,h,960000.0,S,Barry,06-08-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
78,Airport West,45 Laurence Av,4,h,960000.0,S,Nelson,06-08-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
84,Airport West,81a Roberts Rd,3,h,680000.0,VB,Nelson,08-10-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
87,Airport West,3/24 Elstone Av,3,u,600000.0,VB,Nelson,10-09-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
89,Airport West,37a North St,3,t,760000.0,PI,Barry,10-12-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
91,Airport West,1/69 Bowes Av,3,u,580000.0,VB,Nelson,12-11-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
92,Airport West,2/9 El Reno Cr,3,h,725000.0,PI,Ray,12-11-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
93,Airport West,92 McNamara Av,4,h,758000.0,S,Jellis,13-08-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
95,Airport West,20 Creswell Av,3,h,970000.0,S,Barry,14-05-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
97,Airport West,71 Bowes Av,4,h,985000.0,S,Barry,15-10-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
99,Airport West,2/112 Parer Rd,2,u,509500.0,SP,Nelson,15-10-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
107,Airport West,7 McNamara Av,3,h,715000.0,S,Barry,17-09-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
111,Airport West,1/41 Hillside Gr,2,t,460000.0,VB,Nelson,18-06-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23270,MacLeod,4 Tucker Wy,4,h,831000.0,S,Ray,26-08-2017,12.7,3085.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4168.0
23271,Maidstone,88a Ballarat Rd,3,t,706000.0,S,Sweeney,26-08-2017,6.4,3012.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3873.0
23290,Meadow Heights,22 Lightwood Cr,5,h,710000.0,S,YPA,26-08-2017,17.4,3048.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4704.0
23291,Melbourne,505/1 Roy St,2,u,NaN,SP,Kay,26-08-2017,0.0,3000.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,17496.0
23292,Melbourne,505/1 Roy St,2,u,NaN,S,Kay,26-08-2017,0.0,3000.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,17496.0
23300,Mentone,20A Winsome St,3,t,905000.0,S,Hodges,26-08-2017,20.0,3194.0,NaN,NaN,NaN,NaN,NaN,NaN,South-Eastern Metropolitan,6162.0
23302,Mickleham,3 Selkirk Wy,2,h,335000.0,S,YPA,26-08-2017,20.6,3064.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,1158.0
23318,Moonee Ponds,55 Pattison St,2,h,700000.0,VB,Nelson,26-08-2017,6.2,3039.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,6232.0
23333,Mount Waverley,19 Larch Cr,3,h,NaN,SN,Harcourts,26-08-2017,14.2,3149.0,NaN,NaN,NaN,NaN,NaN,NaN,Eastern Metropolitan,13366.0
23337,Mulgrave,45 Carson St,3,t,826000.0,S,Win,26-08-2017,18.8,3170.0,NaN,NaN,NaN,NaN,NaN,NaN,South-Eastern Metropolitan,7113.0
23352,Northcote,2/241 Heidelberg Rd,2,t,770000.0,VB,Nelson,26-08-2017,5.3,3070.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,11364.0
23363,Ormond,9a Bewdley St,4,t,NaN,S,Jellis,26-08-2017,11.4,3204.0,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,3578.0
23384,Prahran,82 Murray St,2,h,1500000.0,VB,RT,26-08-2017,4.6,3181.0,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,7717.0
23397,Reservoir,5a Kyneton Av,3,u,635000.0,S,Barry,26-08-2017,12.0,3073.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,21650.0
23398,Reservoir,13 Lawley St,4,h,NaN,PI,Barry,26-08-2017,12.0,3073.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,21650.0
23409,Richmond,10/9 Westbank Tce,2,u,410000.0,PI,Jellis,26-08-2017,2.4,3121.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,14949.0
23412,Ringwood East,2/16 Bronhill Rd,4,t,850000.0,VB,McGrath,26-08-2017,21.3,3135.0,NaN,NaN,NaN,NaN,NaN,NaN,Eastern Metropolitan,4407.0
23418,Rowville,8 Lakeside Bvd,3,h,905000.0,S,Biggin,26-08-2017,23.5,3178.0,NaN,NaN,NaN,NaN,NaN,NaN,South-Eastern Metropolitan,11667.0
23424,Sandringham,4 Gipsy Wy,2,t,NaN,SP,Buxton,26-08-2017,15.2,3191.0,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,4497.0
23437,South Morang,2/5 Briar Ct,2,u,310000.0,S,HAR,26-08-2017,20.5,3752.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,7969.0
23442,South Morang,18 Warbler Wk,3,h,691000.0,S,Millership,26-08-2017,20.5,3752.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,7969.0
23446,South Yarra,20/22 Mona Pl,2,u,500000.0,VB,Greg,26-08-2017,2.7,3141.0,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,14887.0
23449,St Albans,1/52 Conrad St,2,t,457500.0,S,Barry,26-08-2017,14.0,3021.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,14042.0
23453,St Albans,39b Power St,2,u,515000.0,PI,Brad,26-08-2017,14.0,3021.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,14042.0
23472,Sunshine West,65 Europa Bnd,1,h,460000.0,S,S&L,26-08-2017,10.5,3020.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,6763.0
23495,Templestowe Lower,1/207 Manningham Rd,2,u,550000.0,PI,Barry,26-08-2017,12.4,3107.0,NaN,NaN,NaN,NaN,NaN,NaN,Eastern Metropolitan,5420.0
23499,Thornbury,1/128 Dundas St,2,t,770000.0,PI,McGrath,26-08-2017,7.0,3071.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,8870.0
23502,Thornbury,111 Pender St,2,t,858000.0,S,Jellis,26-08-2017,7.0,3071.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,8870.0
23508,Toorak,21/1059 Malvern Rd,2,u,720000.0,VB,Beller,26-08-2017,4.1,3142.0,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,7217.0
23531,Werribee,91 Latham St,4,h,540000.0,PI,Triwest,26-08-2017,14.7,3030.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,16166.0

In [58]:
len(melbourne[melbourne.isnull().sum(axis =1) > 5].index)

4278

In [59]:
len(melbourne[melbourne.isnull().sum(axis =1) > 5].index)/len(melbourne.index)

0.1816791948018856

In [61]:
melbourne = melbourne[melbourne.isnull().sum(axis=1) <= 5]

In [64]:
len(melbourne.index)
round(100*(melbourne.isnull().sum()/len(melbourne.index)), 2)

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.71
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2          1.05
Bathroom          1.07
Car               1.81
Landsize          9.65
Lattitude         0.13
Longtitude        0.13
Regionname        0.00
Propertycount     0.00
dtype: float64

In [69]:
melbourne = melbourne[~np.isnan(melbourne['Price'])]

In [71]:
round(100*(melbourne.isnull().sum()/len(melbourne.index)), 2)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         1.05
Bathroom         1.07
Car              1.76
Landsize         9.83
Lattitude        0.15
Longtitude       0.15
Regionname       0.00
Propertycount    0.00
dtype: float64

In [76]:
melbourne.Landsize.median()

440.0

In [78]:
melbourne = melbourne[~np.isnan(melbourne['Landsize'])]

In [79]:
len(melbourne.index)

13603

In [81]:
round(100*(melbourne.isnull().sum()/len(melbourne.index)), 2)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         0.00
Bathroom         0.01
Car              0.46
Landsize         0.00
Lattitude        0.16
Longtitude       0.16
Regionname       0.00
Propertycount    0.00
dtype: float64

In [82]:
melbourne.loc[:, ['Bathroom', 'Car']].describe()

           Bathroom           Car
count  13602.000000  13540.000000
mean       1.534921      1.610414
std        0.691834      0.962244
min        0.000000      0.000000
25%        1.000000      1.000000
50%        1.000000      2.000000
75%        2.000000      2.000000
max        8.000000     10.000000

In [83]:
melbourne.loc

In [86]:
melbourne.Car.value_counts()

2.0     5606
1.0     5515
0.0     1026
3.0      748
4.0      507
5.0       63
6.0       54
8.0        9
7.0        8
10.0       3
9.0        1
Name: Car, dtype: int64

In [87]:
melbourne.Bathroom.value_counts()

1.0    7517
2.0    4987
3.0     921
4.0     106
0.0      34
5.0      28
6.0       5
8.0       2
7.0       2
Name: Bathroom, dtype: int64

In [109]:
melbourne["Car"] = melbourne.Car.astype("category")

In [115]:
melbourne.loc[pd.isnull(melbourne['Car']), ['Car']] = 2
round(100*(melbourne.isnull().sum()/len(melbourne.index)), 2)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         0.00
Bathroom         0.01
Car              0.00
Landsize         0.00
Lattitude        0.16
Longtitude       0.16
Regionname       0.00
Propertycount    0.00
dtype: float64

In [119]:
melbourne.loc[np.isnan(melbourne.Lattitude), "Lattitude"] = melbourne.Lattitude.mean()
melbourne.loc[np.isnan(melbourne.Longtitude), "Longtitude"] = melbourne.Longtitude.mean()

In [120]:
round(100*(melbourne.isnull().sum()/len(melbourne.index)), 2)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         0.00
Bathroom         0.01
Car              0.00
Landsize         0.00
Lattitude        0.00
Longtitude       0.00
Regionname       0.00
Propertycount    0.00
dtype: float64

In [121]:
melbourne["Bathroom"] = melbourne.Bathroom.astype("category")
melbourne.loc[pd.isnull(melbourne['Bathroom']), ['Bathroom']] = 1
round(100*(melbourne.isnull().sum()/len(melbourne.index)), 2)

Suburb           0.0
Address          0.0
Rooms            0.0
Type             0.0
Price            0.0
Method           0.0
SellerG          0.0
Date             0.0
Distance         0.0
Postcode         0.0
Bedroom2         0.0
Bathroom         0.0
Car              0.0
Landsize         0.0
Lattitude        0.0
Longtitude       0.0
Regionname       0.0
Propertycount    0.0
dtype: float64

In [123]:
melbourne.shape

(13603, 18)

In [125]:
len(melbourne.index)/23547

0.5776956724848176